@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Noto Sans TC", sans-serif;
}
* {
  -webkit-font-smoothing: antialiased;
}
header {
  padding-bottom: 100px;
  --primary: #ad0000;
  font-weight: 700;
  color: #fff;
}
header.light {
  --primary: #ffffff;
}
nav {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
}
main {
  height: 200vh;
  background-color: #ffffff;
}
footer {
  background-color: #ad0000;
}

.scale.anime { -webkit-animation-delay: 0; -webkit-animation-duration: 0.7s; -webkit-animation-name: pound; -webkit-animation-fill-mode: fowards; -webkit-animation-direction: ease; -moz-animation-delay: 0; -moz-animation-duration: 0.7s; -moz-animation-name: pound; -moz-animation-fill-mode: fowards; -moz-animation-direction: ease; animation-delay: 0; animation-duration: 0.7s; animation-name: pound; animation-fill-mode: fowards; animation-direction: ease; }

.scale, .scale-child {
  transition: all 0.2s ease;
  display: inline-block;

}

.scale.scale-up, .scale-child.scale-up {
  -webkit-transform: translateY(10px) scale3d(3.5, 3.5, 3.5);
  transform: translateY(10px) scale3d(3.5, 3.5, 3.5);
}

.scale.fix-scale, .scale-child.fix-scale {
  transform: translateY(10px) translateZ(0) scale(3.5);
}

@-webkit-keyframes pound { 0% { transform: none; }
  50% { transform: translateY(10px) scale(3.5); }
  100% { transform: none; } }
@-moz-keyframes pound { 0% { transform: none; }
  50% { transform: translateY(10px) scale(3.5); }
  100% { transform: none; } }

@keyframes pound { 0% { transform: none; }
  50% { transform: translateY(10px) scale(3.5); }
  100% { transform: none; } }

  .hover ul {
    display: none;
  }
  .hover:hover ul {
    display: block;
  }