<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <meta name="theme-color" content="#ad0000"/>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->

    <header ><nav>導覽列</nav></header>
    <main>內容
      <form id="consult-form">
        <input type="text">
      </form>
      <div class="scale">
        <p>放大</p>
        <span>放大</span>
      </div>
    </main>
    <footer>footer</footer>

    <!-- <%- include('./layout/footer'); -%> -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
